main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  text-align: center;
  margin: 20px auto;
  max-width: 350px;
  font-family: 'Castoro Titling', cursive;
}

form {
  color: var(--gray-05);
  margin: auto 25px;
  padding: 15px;
  border: 3px solid var(--gray-05);
  text-align: center;
  width: 90%;
  max-width: 500px;
  background-color: var(--gray-75);
}

fieldset {
  border: 0 none;
  height: 100%;
  padding: 25px;
  margin: 10px 20px;
}

label {
  display: inline-block;
  font-size: 1.5rem;
  margin-bottom: 10px;
  font-weight: bold;
}

input {
  display: block;
  font-size: 2.5rem;
  width: 100%;
  height: 60px;
  padding: 6px 12px;
  margin: 10px 0;
  line-height: 1.4;
  color: white;
  background-color: var(--gray-90);
  border: 1px solid var(--gray-05);
}

button {
  cursor: pointer;
  margin-top: 15px;
  text-decoration: none;
  background-image: linear-gradient(#0a3670, #5c1134);
  border: 3px solid #e1c9c9;
  padding: 10px 16px;
  font-size: 23px;
  width: 100%;
}

button:focus-visible,
input:focus-visible {
  outline: 3px solid var(--blue-50);
}

.output {
  color: rgb(12, 11, 11);
  background-color: var(--gray-75);
  border: 3px solid var(--gray-05);
  font-size: 2.5rem;
  width: 90%;
  max-width: 500px;
  min-height: 55px;
  margin-top: 25px;
  padding: 15px;
  overflow-wrap: break-word;
  text-align: center;
}

.alert {
  font-size: 2rem;
  background-color: var(--danger-background);
  border: 3px solid var(--danger-color);
  color: var(--danger-color);
}

body {
  min-height: 100vh;
  padding: 50px 20px;
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  font-size: 18px;
  background-image: url(assecc/images.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--gray-05);
}

:root {
  --gray-00: #e8dfdf;
  --gray-05: #f3efef;
  --gray-15: #4040c2;
  --gray-75: #5c1134;
  --gray-85: #0a3670;
  --gray-90: #0a3670;
  --blue-50: #032643;
  --error: #a94442;
  --danger-color: #850000;
  --danger-background: #ffadad;
}
